main {
  width: 100%;
  height: 92vh;
  position: relative;
  background-color: #ececec;
}

.main-main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3.8fr;
}

.main-main-container-l {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2.3fr 1fr 2.7fr;
}

.main-box-l-t {
  margin: 0.5vw;
  min-width: 300px;
}

.main-l-profile {
  width: 12vh;
  height: 12vh;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), linear-gradient(to right, #e1f15e, #00c7a9);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 1vh auto 2vh auto;
}

.main-l-user-info {
  width: 80%;
}

.main-l-user-info h2 {
  font-size: 3.2vh;
}
.main-l-user-info p {
  font-size: 2vh;
}

.main-box-l-t h2 {
  margin-bottom: 2vh;
}

.main-box-l-t p {
  margin-bottom: 1vh;
}

.main-box-l-m {
  margin: 0.5vw;
}

.main-box-l-m p {
  text-align: left;
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
}

.main-box-l-m h2,
.main-box-l-b h2 {
  margin: 1vh;
  font-size: 3vh;
}

.box-item-flex {
  width: 80%;
  padding: 1vh;
}

.box-item-flex img {
  width: 1.5vw;
  margin-right: 0.5vw;
}

.main-box-l-b {
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

.process-title {
  text-align: left;
  width: 80%;
  font-size: 2vh;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #e1f15e, #00c7a9) 1;
}

.grid-tmp {
  margin-top: 10px;
}

.left-b {
  margin-bottom: 2vh;
  margin-top: -1.1vh;
}

.wait-status {
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
}

.box-item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.grid-grid-v p {
  font-size: 1.7vh;
  font-weight: bold;
}

.main-main-container-r {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.branch-name {
  height: 100%;
  margin: 0.5vw 1vw;
  background-color: #e1f15e;
  border: 3px solid #dcdfe2;
  font-weight: bold;
  font-size: 2vw;
  box-shadow: 3px 3px 2px rgb(187, 187, 187);
}

.main-btn-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5vw;
  margin: 1vw;
}

.main-btn-item {
  cursor: pointer;
  background: white;
  position: relative;
  z-index: 1;
}

.main-btn-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e5f58a, #5cdbb6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.main-btn-item:hover::before {
  opacity: 1;
}

.main-btn-item:hover {
  position: relative;
  z-index: 2;
}

.main-btn-item img {
  width: 10vw;
}

.main-btn-item > * {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .main-main-container {
    grid-template-columns: 1fr;
  }
  .main-btn-list {
    grid-template-columns: 1fr;
  }
  .main-btn-list h2 {
    font-size: 3vw;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
