.toggle-button-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.default-btn {
  background-color: #e6e6e6;
  padding: 1vw;
  margin: 0.1vw;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
}

.default-btn:hover {
  background-color: #373737;
  color: white;
}

.enabled {
  background-color: #373737;
  color: white;
  border-radius: 5px;
}

.enabled:hover {
  transition: 0.2s all;
  background-color: #e6e6e6;
  color: black;
}

.edit-ticket-menu-grid {
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1.5vw;
}

.edit-p {
  font-size: 1.3vw;
  font-weight: bold;
}

.edit-info {
  margin: 1vw auto;
}

.edit-info-p {
  margin: 1vh 0;
  font-size: 1vw;
}

.button-add-text-box {
  background: #e6e6e6;
  padding: 1vw;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}

.button-add-text-box:hover {
  background-color: #b7b7b7;
}

.custom-btn {
  font-size: 1vw;
  cursor: pointer;
  font-weight: normal;
  background-color: #e6e6e6;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn:hover {
  background-color: white;
}

.confirm-btn {
  background-color: #00c7a9;
}
.delete-btn {
  background-color: red;
  color: white;
  font-weight: normal;
}
